---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import ProductDefinition from "../components/ProductDefinition.astro";
import Problem from "../components/Problem.astro";
import Solution from "../components/Solution.astro";
import Benefits from "../components/Benefits.astro";
import HowItWorks from "../components/HowItWorks.astro";
import FeatureHighlights from "../components/FeatureHighlights.astro";
import Audience from "../components/Audience.astro";
import Trust from "../components/Trust.astro";
import Faq from "../components/Faq.astro";
import FinalCta from "../components/FinalCta.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout
  title="CarBasix - Vehicle Sourcing Platform for Importers"
  description="CarBasix helps importers and car traders search multiple vehicle marketplaces, compare listings, and estimate landed cost in one platform."
>
  <Header />
  <main>
    <Hero />
    <ProductDefinition />
    <Problem />
    <Solution />
    <Benefits />
    <HowItWorks />
    <FeatureHighlights />
    <Audience />
    <Trust />
    <Faq />
    <FinalCta />
  </main>
  <Footer />
</MainLayout>
